.resume-view-component {
  padding: 0 20px;

  &__info {
    max-width: 300px;
  }
}

.info-field {
  margin-bottom: 15px;

  &__legend {
    margin-bottom: 5px;
    color: rgba(9, 16, 50, 0.45);
  }

  &__value {
    margin: 0;
  }
}
